hello world!

<script src="https://player.vimeo.com/api/player.js"></script>

<div id="videoDiv">
	<iframe id="video" src="https://player.vimeo.com/video/199619694" width="640" height="268" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<button class="btnClick" id="initialBtn">switch view</button>
<button class="btnClick" id="replacementBtn" style="display: none">switch back</button>

